.cardMembro {
    width: 280px;
}

.cardMembro .cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}

.cardMembro img {
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.cardMembro .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 45px;
    padding-bottom: 30px;
}

.cardMembro .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.cardMembro .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}